
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="/Layouts/Admin/styles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Layouts/Admin/styles/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Layouts/Admin/styles/fonts/fontawesome-webfont.woff" rel="stylesheet">
    <link href="/Layouts/Admin/styles/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
    <link href="/Layouts/Admin/styles/css/ng-table.min.css" rel="stylesheet" />
    <link href="/Layouts/Admin/utils/ng-notify/ng-notify.min.css" rel="stylesheet" />
    <link href="/Layouts/Admin/utils/loading-bar/loading-bar.min.css" rel="stylesheet" />
    <link href="/Layouts/Admin/styles/css/my-style.css" rel="stylesheet" />
</head>
<body>
    <div ui-view="viewRoot" id="mainApp" style="padding-top:10px;"></div>
    <script type="text/javascript" data-main="/Layouts/Admin/main.js" src="/Layouts/Admin/lib/require.js" charset="UTF8"></script>
</body>
</html>
