<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Tiêu đề</label><span style="color: red"> (1*)</span>
                    <input type="text" class="form-control" ng-model="target.title" name="_title" maxlength="50" required>
                    <span style="color:red" ng-show="_form._title.$dirty && _form._title.$invalid">
                        <span ng-show="_form._title.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Menu ID Cha</label>
                    <input type="text" class="form-control" ng-model="target.menuIdCha" name="_menucha" ng-maxlength="200" ng-blur="selectedMenu(target.menuIdCha)">
                    <span style="color:red" ng-show="_form._menucha.$invalid">
                        <span>Nhập quá kí tự</span>
                    </span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Menu ID</label><span style="color: red"> (3*)</span>
                    <input type="text" id="menuId" class="form-control" ng-model="target.menuId" maxlength="200" name="_menuid" ng-blur="checkExistID(target.menuId)" required>
                    <span style="color:red" ng-show="(_form._menuid.$dirty && _form._menuid.$invalid) || isExist">
                        <span ng-show="_form._menuid.$error.required ">Không được để trống</span>
                        <span ng-if="isExist">Đã tồn tại Menu ID </span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Đường dẫn</label><span style="color: red"> (4*)</span>
                    <input type="text" class="form-control" ng-model="target.url" maxlength="500" name="_duongdan" required>
                    <span style="color:red" ng-show="_form._duongdan.$dirty && _form._duongdan.$invalid">
                        <span ng-show="_form._duongdan.$error.required">Không được để trống</span>
                    </span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Số thứ tự</label><span style="color: red"> (5*)</span>
                    <input type="text" class="form-control" ng-model="target.sort" maxlength="300" name="_sortMenu" required>
                    <span style="color:red" ng-show="_form._sortMenu.$dirty && _form._sortMenu.$invalid">
                        <span ng-show="_form._sortMenu.$error.required">Không được để trống</span>
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>Trạng thái</label><span style="color: red"> (6*)</span>
                    <select class="form-control" ng-init="target.trangThai = 10" ng-model="target.trangThai" ng-options="opt.Value as opt.Text for opt in tempData('status')"></select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>