<style>
    .img-preview {
        border: 1px solid #000;
        border-radius: 5px;
        height: 150px;
        width: auto;
        margin: 0 10px;
    }
</style>
<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div style="width:100% ; background: #F3F3F3; margin-top:5px;">
        <form role="form" name="_form">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Thông tin giới thiệu">
                    <div class="row" style="margin-top:10px;">
                        <div class="col-md-1"></div>
                        <div class="col-md-2" style="padding-top:4px;"><label>Mã nghiên cứu : </label></div>
                        <div class="col-md-3">
                            <input class="form-control edit-width-select" ng-model="target.ma_Dm" disabled>
                        </div>
                        <span style="color: red">(*)</span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2" style="padding-top:4px;"><label>Mã cha : </label></div>
                        <div class="col-md-3">
                            <input id="maCha" class="form-control edit-width-select" ng-model="target.ma_Cha" ng-blur="checkExist(target.ma_Cha)">
                        </div>
                        <span ng-show="isExist" style="color: red">Mã cha không tồn tại !</span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-2" style="padding-top:4px;"><label>Độ ưu tiên : </label></div>
                        <div class="col-md-3">
                            <input type="number" class="form-control" ng-model="target.doUuTien" min="1" maxlength="50" required>
                        </div>
                        <span style="color: red">(*)</span>&nbsp;&nbsp;&nbsp;
                    </div>
                    <br />
                    <div class="row form-group" style="margin-top:10px;">
                        <div class="col-md-1"></div>
                        <div class="col-md-2" style="padding-top:4px;"><label>Tên đề tài :</label></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" ng-model="target.ten_Dm">
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Nội dung">
                    <panel-body>
                        <textarea ckeditor ng-model="target.noiDung"></textarea>
                    </panel-body>
                </uib-tab>
                <uib-tab index="2" heading="Chi tiết nội dung">
                    <panel-body>
                        <textarea ckeditor ng-model="target.chiTietNoiDung"></textarea>
                    </panel-body>
                </uib-tab>
                <uib-tab index="3" heading="Tệp đính kèm">
                    <panel-body>
                        <div class="row form-group" style="margin-top:20px">
                            <div class="col-md-3" style="text-align:right; font-weight: bold;padding-top:5px;">
                                Tệp đính kèm : 
                            </div>
                            <div class="col-md-9" style="width:300px;">                              
                                <input id="file-input-upload" onchange="angular.element(this).scope().uploadFile(this)" accept="application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control" text="Chọn tệp" type="file" placeholder="Tải tệp" multiple />
                            </div>
                        </div>  
                        <div class="row form-group">
                            <div class="col-md-12" style="padding-left:100px;">
                                <div class="preview" ng-repeat="item in lstFile track by $index" style="float: left; margin: 5px; border-radius: 5px; background-color:white;">
                                    <div style="max-width: 400px; overflow: hidden; margin-top:5px;margin-left:20px;">
                                        <span class="glyphicon glyphicon-folder-open" style="float: left;padding-top:5px;">&nbsp;&nbsp;</span>
                                        <p style="float: left;font-size:15px;">{{item.name}}</p>
                                    </div>
                                    <div style="width: 200px; text-align: center; padding: 8px;">
                                        <button class="form-control btn btn-primary" style="margin: auto" ng-click="deleteFile($index)">Xóa tệp</button>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </panel-body>
                </uib-tab>               
            </uib-tabset>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>