<style>
    .img-preview {
        border: 1px solid #000;
        border-radius: 5px;
        height: 150px;
        width: auto;
        margin: 0 10px;
    }
</style>
<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div style="width:100% ; background: #F3F3F3; margin-top:5px;">
        <form role="form" name="_form">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Thông tin giới thiệu">
                    <div class="row form-group" style="margin-top:5px;">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <label>Mã</label><span style="color: red">(*)</span>
                            <input class="form-control edit-width-select" ng-model="target.ma_Dm" disabled>
                        </div>
                        <div class="col-md-3">
                            <label>Mã cha</label><span style="color: red">(*)</span>
                            <input class="form-control edit-width-select" ng-model="target.ma_Cha" disabled>
                        </div>
                        <div class="col-md-3">
                            <label>Độ ưu tiên</label><span style="color: red">(*)</span>&nbsp;&nbsp;&nbsp;
                            <input type="number" class="form-control" ng-model="target.doUuTien" maxlength="50" disabled>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <label>Tên giới thiệu</label>
                            <input type="text" class="form-control" ng-model="target.ten_Dm" disabled>
                        </div>
                        <div class="col-md-3">
                            <label>Loại danh mục</label><span style="color: red">(*)</span>&nbsp;&nbsp;&nbsp;
                            <input type="number" class="form-control" ng-model="target.loai_Dm" maxlength="50" disabled>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Nội dung">
                    <panel-body>
                        <!--<textarea ckeditor ng-model="target.noiDung" disabled></textarea>-->
                        <div data-ng-bind-html="trustAsHtml(target.noiDung)"></div>
                    </panel-body>
                </uib-tab>
                <uib-tab index="2" heading="Chi tiết nội dung">
                    <panel-body>
                        <!--<textarea ckeditor ng-model="target.chiTietNoiDung" disabled></textarea>-->
                        <div data-ng-bind-html="trustAsHtml(target.chiTietNoiDung)"></div>
                    </panel-body>
                </uib-tab>
                <uib-tab index="3" heading="Hình ảnh">
                    <panel-body>
                        <div class="row form-group">
                            <div class="col-md-12" style="padding-left:100px;">
                                <div class="preview" ng-repeat="image in lstImagesSrc track by $index" style="float: left; float: left; margin: 5px; height: 200px; width: 200px; border-radius: 5px; background-color:white;padding-left:15px;">
                                    <div style="width: 200px; height: 150px; overflow: hidden;" class="img-thumbnail">
                                        <img rel="popover" ng-src="{{image.link}}" width="200" height="150" />
                                    </div>
                                    <div style="width: 200px; height: 50px; text-align: center; padding: 8px;">
                                        <button class="btn btn-primary" type="button" disabled style="max-width:170px;min-width:170px;">
                                            {{image.ten_Media}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </panel-body>
                </uib-tab>
            </uib-tabset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" prevent-default title="back" ng-click="cancel()"><span class="glyphicon glyphicon-remove-circle"></span>&ensp;{{config.label.btnBack}}</button>
    </div>
</div>