<style>
    .img-preview {
        border: 1px solid #000;
        border-radius: 5px;
        height: 150px;
        width: auto;
        margin: 0 10px;
    }
</style>
<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div style="width:100% ; background: #F3F3F3; margin-top:5px;">
        <form role="form" name="_form">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Thông tin đào tạo">
                    <div class="row form-group" style="margin-top:5px;">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <label>Mã</label><span style="color: red">(*)</span>
                            <input class="form-control" ng-model="target.ma_Dm" disabled>
                        </div>
                        <div class="col-md-3">
                            <label>Mã cha</label><span style="color: red">(*)</span>
                            <input class="form-control" ng-model="target.ma_Cha">
                        </div>
                        <div class="col-md-3">
                            <label>Độ ưu tiên</label><span style="color: red">(*)</span>&nbsp;&nbsp;&nbsp;
                            <input type="number" class="form-control" ng-model="target.doUuTien" maxlength="50" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <label>Tên đào tạo</label>
                            <input type="text" class="form-control" ng-model="target.ten_Dm">
                        </div>
                        <div class="col-md-3">
                            <label>Loại danh mục</label><span style="color: red">(*)</span>&nbsp;&nbsp;&nbsp;
                            <select class="form-control" ng-model="target.loai_Dm" required>
                                <option value="-1" selected="selected">-Chọn loại danh mục-</option>
                                <option ng-repeat="opt in listDanhMuc" value="{{opt.value}}">{{opt.text}}</option>
                            </select>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Nội dung">
                    <panel-body>
                        <textarea ckeditor ng-model="target.noiDung"></textarea>
                    </panel-body>
                </uib-tab>
                <uib-tab index="2" heading="Chi tiết nội dung">
                    <panel-body>
                        <textarea ckeditor ng-model="target.chiTietNoiDung"></textarea>
                    </panel-body>
                </uib-tab>
                <uib-tab index="3" heading="Tệp đính kèm">
                    <panel-body>
                        <div class="row form-group" style="margin-top:20px">
                            <div class="col-md-3" style="text-align:right; font-weight: bold;padding-top:5px;">
                                Tệp đính kèm
                            </div>
                            <div class="col-md-9" style="width:300px;">
                                <input id="file-input-upload" onchange="angular.element(this).scope().uploadFile(this)" class="form-control" type="file" multiple />
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-md-12" style="padding-left:100px;">
                                <div class="preview" ng-repeat="image in lstImagesSrc track by $index" style="float: left; float: left; margin: 5px; height: 110px; width: 200px; border-radius: 5px; background-color:white;">
                                    <input type="text" class="form-control" ng-model="lstFile[$index].name" />
                                    <div style="width: 200px; height: 50px; text-align: center; padding: 8px;">
                                        <button class="form-control btn btn-primary" style="margin: auto" ng-click="deleteImage($index)">Xóa tệp</button>
                                        <input style="margin-top:2px;" class="form-control" placeholder="Nhập tên tệp" ng-model="target.ten_Media[$index]" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </panel-body>
                </uib-tab>
            </uib-tabset>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>