<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title()}}  {{lbl.lblCreate}}</h3>
        <div class="button-close" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove x-close"></i>
        </div>
    </div>
    <div class="modal-body">
        <form role="form" name="_form">
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Mã media</label><span style="color: red"> (1*)</span>
                    <input type="text" class="form-control" ng-model="target.Ma" name="_title" maxlength="50" disabled required>
                    <span style="color:red" ng-show="_form._title.$dirty && _form._title.$invalid">
                        <span ng-show="_form._title.$error.required">Không được để trống</span>
                    </span>
                </div>
                <!--<div class="col-lg-6">
                    <label>Mã Cha</label>
                    <input type="text" class="form-control" ng-model="target.maCha" name="_macha" ng-maxlength="200" ng-blur="selected(target.maCha)">
                    <span style="color:red" ng-show="_form._macha.$invalid">
                        <span>Nhập quá kí tự</span>
                    </span>
                </div>-->               
            </div>

            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Tên Media</label>
                    <input type="text" id="tenMedia" class="form-control" ng-model="target.ten_Media" maxlength="100" >
                </div>
                <div class="col-lg-6">
                    <label>Loại Media</label><span style="color: red"> (2*)</span>
                    <select class="form-control" ng-init="target.loai_Media = 1" ng-model="target.loai_Media" ng-change="optionSelect(target.loai_Media)" ng-options="opt.Value as opt.Text for opt in tempData('typeMedia')"></select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Url Video</label>
                    <input type="text" id="linkVideo" ng-disabled="!(target.loai_Media === 2)" class="form-control" ng-model="linkVideo" maxlength="100">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-lg-6">
                    <label>Thêm media</label><span style="color: red"> (3*)</span>
                    <div style="width:350px;float:left;">
                        <input ng-disabled="target.loai_Media === 2" id="file-input-upload" onchange="angular.element(this).scope().uploadFile(this)" accept="{{acceptFile}}" class="form-control" text="Chọn ảnh" type="file" placeholder="Tải ảnh" multiple />
                    </div>                  
                </div>
            </div>
            <div ng-show="target.loai_Media === 1">
                <div class="preview" ng-repeat="file in lstFilesSrc track by $index" style="margin: 5px; height: 220px; width: 200px; border-radius: 5px; background-color:white;">
                    <div style="width: 200px; height: 150px; overflow: hidden;" class="img-thumbnail">
                        <img rel="popover" ng-src="{{file}}" width="200" height="150" />
                    </div>
                    <div style="width: 200px; height: 50px; text-align: center; padding: 8px;">
                        <button class="form-control btn btn-primary" style="margin: auto" ng-click="deleteFile($index)">Xóa ảnh</button>
                        <label style="float:left;margin-top:10px;">Ảnh bìa : </label>
                        <div class="checkbox" style="float:left;margin-left:15px;">
                            <label>
                                <input type="checkbox" ng-model="anh_Bia[$index]">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="target.loai_Media === 3">
                <div class="preview" ng-repeat="item in lstFile track by $index" style="float: left; margin: 5px; border-radius: 5px; background-color:white;">
                    <div style="max-width: 400px; overflow: hidden; margin-top:5px;margin-left:20px;">
                        <span class="glyphicon glyphicon-folder-open" style="float: left;padding-top:5px;">&nbsp;&nbsp;</span>
                        <p style="float: left;font-size:15px;">{{item.name}}</p>
                    </div>
                    <div style="width: 200px; text-align: center; padding: 8px;">
                        <button class="form-control btn btn-primary" style="margin: auto" ng-click="deleteFile($index)">Xóa tệp</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button prevent-default type="submit" class="btn btn-primary" ng-disabled="_form.$invalid" ng-click="save()">{{config.label.btnSubmit}}</button>
        <button prevent-default class="btn btn-default" ng-click="cancel()">{{config.label.btnCancel}}</button>
    </div>
</div>